@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
}

* {
    margin-top: 0;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #fbf5f5;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #494848;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #535353;
}